.profile {

}

@media screen and (max-width: 865px) {
    .profile {
        margin-top: 236px;
    }
}

@media screen and (max-width: 467px) {
    .profile {
        margin-top: 0;
    }
}

.profile__wrapper {
    max-width: 410px;
    margin: 0 auto;
}

.profile__title {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 74px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 467px) {
    .profile__title {
        margin-top: 70px;
    }
}

.profile__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 280px; */
    max-width: 410px;
    margin-top: 105px;
}

@media screen and (max-width: 865px) {
    .profile__info-container {
        margin-top: 79px;
    }
}

@media screen and (max-width: 467px) {
    .profile__info-container {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 63px;
    }
}

.profile__info {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    align-items: flex-start;
    position: relative;
}

.profile__info:nth-child(n+2) {
    /* margin-top: 0; */
}

.profile__info:first-child {
    border-bottom: 1px solid #424242;
}

.profile__user {
    box-sizing: border-box;
    height: 30px;
    max-width: 50%;
    margin: 0;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__user-input {
    position: relative;
    outline: none;
    padding: 0;
    background-color: #202020;
    border: none;
    color: #FFF;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__user-input:focus {
    outline: 1px solid white;
    border-radius: 3px;
}

.profile__control {
    justify-content: end;
    align-items: center;
    height: 63px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 192px;
}

@media screen and (max-width: 865px) {
    .profile__control {
        margin-top: 181px;
    }
}

@media screen and (max-width: 467px) {
    .profile__control {
        margin-top: 349px;
    }
}

.profile__error-message {
    margin: 0;
    display: none;
    color: #FF004C;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__error-message_active {
    display: block;
}

.profile__edit-button {
    align-self: center;
    height: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #202020;
}

@media screen and (max-width: 467px) {
    .profile__edit-button {
        font-size: 12px;
    }
}

.profile__edit-button:hover {
    opacity: 0.7;
}

.profile__logout-button {
    text-decoration: none;
    height: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
    color: #EE3465;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #202020;
}

@media screen and (max-width: 467px) {
    .profile__logout-button {
        font-size: 12px;
    }
}

.profile__logout-button:hover {
    opacity: 0.7;
}

.profile__save-button {
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 410px;
    border: none;
    padding: 0;
    background: #3456F3;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 865px) {
    .profile__save-button {
        width: 260px;
        margin: 0 auto;
    }
}

.profile__save-button:hover {
    opacity: 0.8;
}

.profile__save-button_disabled {
    background: #F8F8F8;
    color: #C2C2C2;
}

.profile__save-button_disabled:hover {
    opacity: 1;
    cursor: auto;
}