.about-project {
    width: 100%;
    height: 608px;
    background-color: #202020;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 111px;
}

@media screen and (max-width: 865px) {
    .about-project {
        height: 585px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 90px;
    }
}

@media screen and (max-width: 467px) {
    .about-project {
        /* height: 585px; */
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 71px;
    }
}

.about-project__wrapper {
    /* height: 608px; */
    max-width: 1140px;
    color: #FFF;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 865px) {
    .about-project__wrapper {
        max-width: 668px;
    }
}

.about-project__title {
    box-sizing: border-box;
    padding-bottom: 23px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 467px) {
    .about-project__title {
        font-size: 18px;
        padding-bottom: 28px;
    }
}

.about-project__list {
    box-sizing: border-box;
    padding-top: 70px;
    padding-left: 0;
    margin: 0 0 110px 0;
    list-style-type: none;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

@media screen and (max-width: 865px) {
    .about-project__list {
        gap: 30px;
        margin-bottom: 94px;
        padding-top: 70px;
    }
}

@media screen and (max-width: 467px) {
    .about-project__list {
        padding-top: 60px;
        flex-direction: column;
        gap: 59px;
        margin-bottom: 60px;
    }
}

.about-project__list-element {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 865px) {
    .about-project__list-element {
        gap: 22px;
    }
}

@media screen and (max-width: 467px) {
    .about-project__list-element {
        gap: 16px;
    }
}

.about-project__subtitle {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

@media screen and (max-width: 467px) {
    .about-project__subtitle {
        font-size: 18px;
        letter-spacing: -0.72px;
    }
}

.about-project__description {
    margin: 0;
    max-width: 550px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 865px) {
    .about-project__description {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 467px) {
    .about-project__description {
        font-size: 11px;
        line-height: 16px;
    }
}

/* ____________________________________ */

.about-project__timing {
    display: flex;
    max-width: 1140px;
    /* width: 100%; */
}

.about-project__backend {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 228px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 865px) {
    .about-project__backend {
        max-width: 140px;
    }
}

@media screen and (max-width: 467px) {
    .about-project__backend {
        max-width: 100px;
        gap: 7px;
    }
}

.about-project__backend-chart {
    line-height: 36px;
    background-color: #3DDC84;
    height: 36px;
    max-width: 228px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.about-project__frontend {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 467px) {
    .about-project__frontend {
        gap: 7px;
    }
}

.about-project__duration {
    display: inline;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 467px) {
    .about-project__duration {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.about-project__frontend-chart {
    line-height: 36px;
    background-color: #303030;
    height: 36px;
    max-width: 912px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.about-project__chart-info {
    margin: 0;
    color: #8B8B8B;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}

@media screen and (max-width: 467px) {
    .about-project__chart-info {
        font-size: 11px;
    }
}