.form-page {
    display: block;
    background-color: #202020;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    height: 483px;
}

.form-page__wrapper {
    width: 396px;
    margin: 0 auto;
}

.form-page__form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-page__input-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.form-page__input-block:first-child {
    margin-top: 0;
}

.form-page__input-title {
    margin: 0;
    color: #8B8B8B;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-page__input {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    width: 396px;
    height: 46px;
    border: none;
    border-radius: 8px;
    background: #2F2F2F;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-page__input:focus {
    outline: none;
}

.form-page__button {
    margin-top: 11px;
    cursor: pointer;
    border: none;
    padding: 0;
    height: 45px;
    width: 396px;
    border-radius: 3px;
    background: #4285F4;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-page__button:hover {
    opacity: 0.8;
}

.form-page__question {
    display: block;
    text-align: center;
    margin: 16px 0 0 0;
    color: #8B8B8B;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-page__link {
    display: inline-block;
    color: #4285F4;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.form-page__link:hover {
    opacity: 0.7;
}

.form-page__error-message {
    display: block;
    height: 70px;
    margin: 10px 0 0 0;
    color: #EE3465;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* __________кнопка "еще"__________ */

.expand-button {
    margin-top: 60px;
    margin-bottom: 75px;
}

.expand-button__wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.expand-button__button {
    cursor: pointer;
    padding: 0;
    border: none;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    background: #2F2F2F;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}