.movie-block {
    box-sizing: border-box;
}

.movie-block__wrapper {
    box-sizing: border-box;
    padding-top: 70px;
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1297px) {
    .movie-block__wrapper {
        max-width: 752px;
    }
}

@media screen and (max-width: 829px) {
    .movie-block__wrapper {
        max-width: 364px;
    }
}

.movie-block__list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 37px 24px;
    margin: 0 auto;
    align-items: flex-start;
}

.movie-block__list:nth-child(n+3) {
    margin-top: 10px;
}