.footer {
    width: 100%;
    background-color: #202020;
    color: #FFF;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (max-width: 927px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 467px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.footer__wrapper {
    height: 177px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 865px) {
    .footer__wrapper {
        height: 143px;
    }
}

@media screen and (max-width: 467px) {
    .footer__wrapper {
        height: 204px;
    }
}

.footer__title {
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 84px;
    border-bottom: 1px solid #424242;
    margin: 0;
    color: #8B8B8B;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 865px) {
    .footer__title {
        padding-top: 49px;
    }
}

@media screen and (max-width: 467px) {
    .footer__title {
        font-size: 12px;
        padding-top: 30px;
        padding-bottom: 21px;
    }
}

.footer__copyright {
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 467px) {
    .footer__copyright {
        display: flex;
        flex-direction: column;
        padding-top: 29px;
        align-items: center;
    }
}

.footer__right {
    margin: 0;
}

@media screen and (max-width: 467px) {
    .footer__right {
        order: 3;
        font-size: 12px;
        margin-top: 30px;
    }
}

.footer__link-list {
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

@media screen and (max-width: 467px) {
    .footer__link-list {
        flex-direction: column;
        padding: 0;
        align-items: center;
        gap: 11px;
    }
}

.footer__link {
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 467px) {
    .footer__link {
        font-size: 12px;
    }
}

.footer__link:hover {
    opacity: 0.7;
}