.promo {
    width: 100%;
    background-color: #073042;
    box-sizing: border-box;
    text-align: center;
}

.promo__wrapper {
    height: 524px;
    max-width: 1140px;
    margin: 0 auto 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 184px;
    display: flex;
    position: relative;
}

@media screen and (max-width: 865px) {
    .promo__wrapper {
        height: 784px;
        max-width: 668px;
        padding-top: 326px;
    }
}

@media screen and (max-width: 467px) {
    .promo__wrapper {
        padding-top: 207px;
        height: 570px;
    }
}

.promo__image {
    position: absolute;
    z-index: 0;
    top: 242px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 865px) {
    .promo__image {
        top: 384px;
    }
}

@media screen and (max-width: 467px) {
    .promo__image {
        top: 266px;
        height: 248px;
        width: 248px;
    }
}

.promo__title {
    max-width: 730px;
    margin: 0 auto;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

@media screen and (max-width: 467px) {
    .promo__title {
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -1.24px;
    }
}